body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.search-section{
    background-image: url('/images/pattern-bg-desktop.png');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

h1{
    margin: 0px;
    color: white;
}

.search-input{
    padding: 1em;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    cursor: pointer;
}

form{
    display: flex;
    border: none;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.search-btn{
    background-color: black;
    border: none;
    padding: 1em;
    cursor: pointer;
}

.ip-data-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.ip-data-display{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    max-width: 800px;
}